%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{sub_dirs, [
            "rel"
           ]}.
{erl_opts, [ {i, ["include", "deps"]}, 
            debug_info,
            fail_on_warning,
            {parse_transform, lager_transform},
            {lager_truncation_size, 8192}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.

{lib_dirs, ["deps"]}.

{cover_enabled, true}.
{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}. % Source file name, output report file name
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}.
{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}
    },
    {covertool, ".*",
        {git, "https://github.com/idubrov/covertool.git", {branch, "master"}}
    },
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.3"}}
    },
    {msgpack, ".*",
        {git, "git://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}
    },
    {cowboy, ".*",
        {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}
    },
    {bullet, ".*",
        {git, "git://github.com/extend/bullet.git", {tag, "0.4.1"}}
    },

    {mimetypes, ".*",
	{git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}}, 

    {configgins, ".*",
        {git, "git@github.com:Amplify-Social/Configgins.git", {branch, "master"}}
    },
    {jobs, ".*",
        {git, "git@github.com:jmayfield74/jobs.git", {branch, "master"}}
    },
    {sqor_logger, ".*",
        {git, "git@github.com:Amplify-Social/sqor_logger.git", {branch, "master"}}
    },
    {resterl, ".*",
        {git, "git@github.com:Amplify-Social/resterl.git", {branch, "master"}}
    },
    {resource_discovery, ".*",
        {git, "http://github.com/erlware/resource_discovery.git", {branch, "master"}}
    }
]}.
